@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
  }
body{
    width: 100%;
}
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 100px 15px;
}
.caption-category{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading-categories{
    font-size: 48px;
    font-family: "Inter", serif;
}
.view-all-btn{
    background-color:#E7FAFE ;
     padding: 15px 30px;
     border-radius: 16px;
}
.view-all-btn a{
    font-family: "Inter", serif;
    color: #000;
    font-weight: 600;
    font-size: 1rem;

}
.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
     margin-top: 80px;
}
.card{
    border-radius: 30px;
    padding: 0 25px;
    height: 200px;
    line-height: 70px;
    padding-top: 0;
    transition:transform 0.3s ease ;
}
.card:hover{
    transform: translateY(-8px);
}
#card1{
    background-color:rgba(112, 130, 70, 0.1);
}
#card2{
    background-color: rgba(108, 198, 63, 0.1);
}
#card3{
 background-color: rgba(204, 38, 27, 0.1)
 ;
}
#card4{
 background-color: rgba(240, 158, 0, 0.1)
 ;
}
#card5{
 background-color: rgba(0, 0, 0, 0.05)
 ;
}
#card6{
    background-color: rgba(0, 0, 0, 0.05)
}
h3{
    text-align: center;
}